<main id="container">
    <aside id="aside">
        <ul>
            <li>
                <button>Teste</button>
            </li>
            <li>
                <button>Teste</button>
            </li>
            <li>
                <button>Teste</button>
            </li>
        </ul>
    </aside>
    <div id="map"
        leaflet
        [leafletOptions]="options"
        [leafletLayersControl]="layersControl"
        (leafletMouseMove)="pegarPosicao($event)">
        <span class="leaflet-control">{{ posicao }}</span>
    </div>
</main>